* {
    box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
h1,h2,h3,h4,h5,h6 {
    color: rgb(87, 85, 85);
    padding: 0px 10px 0px 10px;
}


.container {
    max-width: 80%;
    margin: auto;
    border-left: 1px solid rgb(87, 85, 85);
    border-right: 1px solid rgb(87, 85, 85);
    min-height: 90vh;

}

header {
    background-color: rgb(87, 85, 85);
}
header nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
header nav a {
    padding: 10px;
    color: white;
    text-decoration: none;
}
header nav a:hover, footer a:hover {
    color: cyan;
}

.intro {
    display: flex;
    border-bottom: solid 1px rgb(87, 85, 85);
    padding: 20px;
}
.intro p {
    margin: 0 0 0 10px;
}
img {
    border-radius: 100px;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.t2, .t3 {
    padding: 50px 10px 10px 10px;
    text-align: center;
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis:auto;
}
.t2 p, .t3 p {
    width: 250px;
}

.t3 img {
    width: 100px;
}

footer {
    width: 80%;
    margin: auto;
    background-color: rgb(87, 85, 85);
    /* text-align: center; */
}
footer a {
    padding: 0px 1px 0px 1px;
}
footer a, footer p, footer ul, footer li {
    color: white;
}
